<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Vue3 Course</title>
    <script src="https://unpkg.com/vue@next"></script>

    <style>
        .box{
            
            display: inline-block;
            background-color: #f1f1f1;
            margin: 3rem;
            width: 40rem;
            text-align: center;
            padding: 100px 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>{{title}} - {{author}} - {{age}}</p>

        <!-- 
        <button v-on:click="age++">Increase</button>
        <button v-on:click="age--">Decrease</button>

        v-on: ist gleich mit @ 
        -->
        <button @click="age++">Increase</button>
        <button @click="age--">Decrease</button>

        <p @click="changeTitle('sage velgard')">change title</p>

        <hr>
        <!-- ######################################################## -->
        <!-- Conditional Rendering -->
        <h4>Conditional Rendering</h4>

        <div v-if="showText">
            <p>{{title}} - {{author}} - {{age}}</p>
        </div>

       
        <button @click="changeShowText">
            <span v-if="showText">hide text</span>
            <span v-else>show text</span>
        </button>

        <p v-show="showText">showing ...</p>

        <!-- unterschied v-if und v-show:
        v-if: Diese Direktive entfernt das Element vollständig aus dem
        DOM (Document Object Model), wenn die angegebene Bedingung falsch ist.
        Wenn die Bedingung wahr ist, wird das Element in den DOM eingefügt.

        v-show: Direktive das Element nicht vom DOM,
        sondern ändert lediglich seine display-CSS-Eigenschaft  -->

        <!-- ######################################################## -->
        <!-- Mouse Events -->
        <br>
        <hr>
        <h4>Mouse Events</h4>
        <br>

        <div class="box" @mouseover="handleEvent">Mouse Over</div>
        <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
        <div class="box" @dblclick="handleEvent">Double click</div>
        <div class="box" @mousemove="handleMouseMove">{{X}},{{Y}}</div>

         <!-- ######################################################## -->
         <!-- Direktive V-for -->
         <br>
         <hr>
        
            <ul v-for ="item in books" >
                <li>
                    <h4>{{item.title}}</h4>
                    <p>{{item.author}}</p>
                </li>
            </ul>
         

    </div>


    <script src="app.js"></script>
</body>
</html>